## Problem 1

In [2]:
import pandas as pd

def createDataframe(student_data: list[list[int]]) -> pd.DataFrame:
    df = pd.DataFrame(student_data,columns=['student_id' , 'age'])
    return df

## Problem 2

In [3]:
import pandas as pd

def getDataframeSize(players: pd.DataFrame) -> list[int]:
    return[players.shape[0],players.shape[1]]

## Problem 3

In [4]:
import pandas as pd

def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    return employees.head(3)

## Problem 4

In [5]:
import pandas as pd

def selectData(students: pd.DataFrame) -> pd.DataFrame:
    filtered_students =  students[students['student_id'] == 101]
    return filtered_students[['name','age']]

## Problem 5

In [ ]:
import pandas as pd

def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus'] = employees['salary'] * 2
    return employees

## Problem 6

In [6]:
import pandas as pd

def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    cleaned = customers.drop_duplicates(subset= 'email' , keep='first')
    return cleaned

## Problem 7

In [7]:
import pandas as pd

def dropMissingData(students: pd.DataFrame) -> pd.DataFrame:
    cleaned = students.dropna(subset = 'name' , axis=0)
    return cleaned

## Problem 8

In [8]:
import pandas as pd

def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['salary'] = employees['salary'] * 2
    return employees

## Problem 9

In [9]:
import pandas as pd

def renameColumns(students: pd.DataFrame) -> pd.DataFrame:
    students.rename(columns={'id':'student_id' , 'first':'first_name' , 'last':'last_name', 'age':'age_in_years'},inplace = True)
    return students

## Problem 10

In [10]:
import pandas as pd

def changeDatatype(students: pd.DataFrame) -> pd.DataFrame:
    students['grade']= students['grade'].astype(int)
    return students

## Problem 11

In [12]:
import pandas as pd

def fillMissingValues(products: pd.DataFrame) -> pd.DataFrame:
    products['quantity'].fillna(0, inplace = True)
    return products

## Problem 12

In [13]:
import pandas as pd

def concatenateTables(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
    df3 = pd.concat([df1,df2] , axis = 0)
    return df3

## Problem 13

In [ ]:
import pandas as pd

def pivotTable(weather: pd.DataFrame) -> pd.DataFrame:
    df = weather.pivot(index = 'month' , columns = 'city' , values = 'temperature')
    return df

## Problem 14

In [15]:
import pandas as pd

def meltTable(report: pd.DataFrame) -> pd.DataFrame:
    df = report.melt(
     id_vars = 'product',
     var_name = 'quarter',
     value_vars = ['quarter_1','quarter_2','quarter_3','quarter_4',],
     value_name = 'sales',
     )
    return df

## Problem 15

In [14]:
import pandas as pd

def findHeavyAnimals(animals: pd.DataFrame) -> pd.DataFrame:
    df = animals[animals['weight'] > 100]
    df = df.sort_values(by='weight' , ascending = False)
    return df[['name']]